# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Environments
.venv/
venv/

# Data and models
/data/raw/
/data/processed/
/models/
/reports/figures/

# OS
.DS_Store
Thumbs.db
